*{
    margin:0;
    padding:0;
    color:white;
}
#navbar{
height:60px;
background-color:black;
}
button{
    background-color:red;
}
#logo{
    font-size:25px;
    color:darkred;
    padding:18px;
}
a{
    margin-right:125px;
}